{% macro shop_box(products) %}

    {% for product in products %}
        <div class="product_grid_cell">
            <div class="product_grid_item product_grid_small_item">
                <div class="product_img thumbnail thumbnail_shop">
                    <a href="{{ path('free_note_product_show', {'slug': product.slug})}}">
                        <img src="{{ product.imageWebPath|apply_filter('frontend_shop_item_small') }}" alt="{{ product.name }}" />
                    </a>
                </div>
                <div class="product_name">
                    <a href="{{ path('free_note_product_show', {'slug': product.slug})}}">
                        {{ product.name|slice(0, 50) }}
                    </a>
                </div>
                <hr class="hr_white"/>
                <div class="product_price_basket">
                    <div class="product_price">
                        {{ product.price }} {{ currency|raw }}
                    </div>
                    <div class="product_add">
                        <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="clearfix">
                            {% set form = sylius_cart_form({'product': product}) %}
                            {{ form_widget(form._token) }}
                            <input type="submit" class="btn btn-success" value="{{ ('shop.buy')|trans({}, 'FreeNoteCoreBundle') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endmacro %}

{% macro news_box(entries, entryPart) %}

    {% for entry in entries %}
        <div class="catbox_item">
            <div class="catbox_item_top">
                <div class="catbox_item_image">
                    <div class="thumb_container">
                        <div class="thumbnail thumb thumb_big thumb_big_blue">
                            <div class="thumb_border thumb_border_big">
                                <a href="{{ path(('free_note_'~entryPart~'_entry_show'), {'slug': entry.slug})}}">
                                    <img src="{{ (entry.imageWebPath is empty ? '/assets/img/icoMedium.png' : entry.imageWebPath)|apply_filter('frontend_thumb_big') }}"
                                         alt="{{ entry.imageAlt }}" title="{{ entry.imageTitle }}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catbox_item_info">
                    {% block catbox_item_info %}
                        <div class="catbox_item_date">
                            {{ entry.createdAt|date('d.m.Y') }}&nbsp;-&nbsp;{{ entry.author|slice(0, 20) }}
                        </div>
                        <div class="catbox_item_title">
                            <a href="{{ path(('free_note_'~entryPart~'_entry_show'), {'slug': entry.slug}) }}">{{ entry.title|slice(0, 50) }}</a>
                        </div>
                    {% endblock %}
                </div>
            </div>
            <div class="catbox_item_desc">
                {{ entry.content|slice(0, 150) }}
            </div>
            <div class="catbox_item_more">
                <a href="{{ path(('free_note_'~entryPart~'_entry_show'), {'slug': entry.slug}) }}">{{ 'more'|trans({}, 'FreeNoteCoreBundle') }}</a>
            </div>
        </div>
    {% endfor %}

{% endmacro %}