<div class="toppanel_user">
    <div class="toppanel_basket_row">
        <div class="toppanel_basket_col">
            {# TODO #}
            {% if(avatarPath) %}
                {{ avatarPath }}
            {% else %}
                <img src="{{ asset('assets/img/icoSmall.png') }}" alt="{{ username }} - Avatar" class="avatar"/>
            {% endif %}
        </div>
        <div class="toppanel_basket_col">
            <span class="toppanel_basket_header">
                {{ ('user.logged_as')|trans({}, 'FreeNoteCoreBundle') }}
            </span>
            </br>
            <span class="toppanel_basket_count">
                {{ app.user.username }}
            </span>
        </div>
    </div>
</div>