<form action="{{ path('free_note_backend_'~resourceName~'_create') }}" {{ form_enctype(form) }} method="post" class="form-horizontal" novalidate>
    {% include 'FreeNoteBundle:Backend/Entry:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" class="btn btn-large btn-primary" value="{{ 'create'|trans({}, 'FreeNoteCoreBundle') }}">
        <a href="
            {% if (app.request.server.get('HTTP_REFERER')) is not empty %}
                {{ (app.request.server.get('HTTP_REFERER')) }}
            {% else %}
                {{ path('free_note_backend_'~resourceName~'_list') }}
            {% endif %}
            " class="btn btn-large">{{ 'cancel'|trans({}, 'FreeNoteCoreBundle') }}</a>
    </div>
</form>
