<!DOCTYPE html>

{% set generalSettings = sylius_settings_all('general') %}

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>
            {% block title %}
                {{ generalSettings.defaultMetaTitle|default('Wolna Nuta') }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta name="description" content="{{ generalSettings.defaultMetaDescription }}">
        <meta name="keywords" content="{{ generalSettings.defaultMetaKeywords }}">
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,300italic,400italic,600italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css'
            '@FreeNoteBundle/Resources/assets/css/bootstrap.css'
            '@FreeNoteBundle/Resources/assets/css/font-awesome.css'
            '@FreeNoteBundle/Resources/assets/css/select2.css'
            '@FreeNoteBundle/Resources/assets/css/comments.css'
            '@FreeNoteBundle/Resources/assets/css/main.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% stylesheets output='assets/compiled/frontend.less'
            '@FreeNoteBundle/Resources/assets/less/frontend.less'
        %}
            <link rel="stylesheet/less" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% javascripts output='assets/compiled/frontend.js'
            '@FreeNoteBundle/Resources/assets/js/jquery-1.8.0.min.js'
            '@FreeNoteBundle/Resources/assets/js/less.min.js'
            '@FreeNoteBundle/Resources/assets/js/bootstrap.min.js'
            '@FreeNoteBundle/Resources/assets/js/select2.min.js'
            '@FreeNoteBundle/Resources/assets/js/sylius-addressing.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="main-graphic">
            <div id="main-content">
                <div class="current_width_back">
                    <div id="logo"><a href="{{ path('free_note_core_frontend') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="Wolna Nuta" /></a></div>
                    <div id="baner"><img src="{{ asset('assets/img/todelete/text.png') }}" alt="Wolna Nuta" /></div>
                    <div class="navbar navbar-fixed-top">
                        <div class="toppanel_top"></div>
                        <div class="navbar-inner">
                            <div class="current_width">
                                <div class="container-fluid">
                                    {% include 'FreeNoteBundle:Frontend/Main:topbar.html.twig' %}
                                    {#{{ knp_menu_render('FreeNoteBundle:Builder:frontendMainMenu', {'template': 'FreeNoteBundle:Menu:main.html.twig', 'currentClass': 'active'}) }}#}
                                </div>
                            </div>
                        </div>
                        <div class="navbar-underline"></div>
                    </div>
                    <div id="menu_min" class="current_width">
                        {#TODO - wypierniczyc do menu buildera#}
                        {% include 'FreeNoteBundle:Frontend/Menu:minimenu.html.twig' %}
                    </div>
                    <div class="current_width_back">
                        <div id="main_menu">
                            {{ knp_menu_render('FreeNoteBundle:Builder:frontendMainMenu', {'template': 'FreeNoteBundle:Frontend/Menu:mainmenu.html.twig'}) }}
                        </div>
                        <div id="content_back" class="current_width">
                            <div class="container-fluid">
                                <div class="row-fluid">
                                    <div id="toplayer">
                                        <div id="player"><img src="{{ asset('assets/img/todelete/player.png') }}" alt="Wolna Nuta - player" /></div>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div id="page_container">
                                        <div id="content">
                                            {% block content %}
                                            {% endblock %}
                                        </div>
                                        <div id="down_boxes">
                                            {% block downboxes %}
                                                {% include 'FreeNoteBundle:Frontend/Main:downBoxes.html.twig' %}
                                            {% endblock %}
                                        </div>
                                        <div id="down_advert">
                                            {% block downadvert %}
                                                {{ render(controller('FreeNoteBundle:Frontend/Main:downAdvert')) }}
                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer>
                <p>&copy; <a href="{{ path('free_note_core_frontend') }}">Wolna Nuta</a>, 2013 - {{ 'now'|date('Y') }}.</p>
            </footer>
        </div>
    </body>
</html>
