{% extends 'FreeNoteBundle:Frontend:threeCol.html.twig' %}

{% block iconmenu %}
    {{ knp_menu_render('FreeNoteBundle:Builder:frontendNewsMenu', {'template': 'FreeNoteBundle:Frontend/Menu:categoriesMenu.html.twig', 'currentClass': 'active'}) }}
{% endblock %}

{% block main %}
    {{ parent() }}

<div>
    <h3>{{ news_entry.title }}</h3>
    <p>{{ news_entry.createdAt|date('Y-m-d') }} by <strong>{{ news_entry.author }}</strong>.</p>
    <hr />

    <ul class="nav nav-pills">
        {% for category in news_entry.categories %}
            <li class="active">
            <a href="{{ path('free_note_category_show', {'alias': 'aktualnosci', 'slug': category.slug}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <hr />
    {{ news_entry.content|markdown }}
    <hr />
    <div id="fos_comment_thread"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': news_entry.commentThreadId} %}
{% endblock %}
