<div class="well">
    <h2>{{ entry.title }}</h2>
    <p>Posted at {{ entry.createdAt|date('Y-m-d H:i:s') }} by <strong>{{ entry.author }}</strong>.</p>
    <p>{{ entry.content }}</p>
    <hr />
    <a href="{{ path('free_note_article_entry_show', {'slug': entry.slug}) }}" class="btn span3" style="float: none;">read</a>
</div>
