{% extends 'FreeNoteBundle:Frontend:threeCol.html.twig' %}

{% import 'FreeNoteBundle:Frontend/Entry:listMacros.html.twig' as macros %}

{% block iconmenu %}
    {{ knp_menu_render('FreeNoteBundle:Builder:frontendArticleMenu', {'template': 'FreeNoteBundle:Frontend/Menu:categoriesMenu.html.twig', 'currentClass': 'active'}) }}
{% endblock %}

{% block main %}
    <div class="pager_blue">
        {{ macros.pager(entries, resourceName) }}
    </div>

    {% if entries|length > 0 %}
        {% for entry in entries %}
            {% include 'FreeNoteBundle:Frontend/ArticleEntry:_single.html.twig' with {'entryPart': 'article'} %}
        {% endfor %}
    {% else %}
        {#TODO - alert#}
        <div class="alert alert-info">
            <h4 class="alert-heading">{{ 'alert.heading.info'|trans({}, 'FreeNoteCoreBundle') }}.</h4>
            {{ 'no_results'|trans({}, 'FreeNoteCoreBundle') }}
        </div>
    {% endif %}

    <div class="pager_blue">
        {{ macros.pager(entries, resourceName) }}
    </div>

{% endblock %}
