{% extends 'FreeNoteBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>Reading blog post</h1>
</div>

<div class="well">
    <h3>{{ article_entry.title }}</h3>
    <p>Posted at {{ article_entry.createdAt|date('Y-m-d H:i:s') }} by <strong>{{ article_entry.author }}</strong>.</p>
    <hr />

    <ul class="nav nav-pills">
        {% for category in article_entry.categories %}
            <li class="active">
            <a href="{{ path('free_note_category_show', {'alias': 'artykuly', 'slug': category.slug}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <hr />
    {{ article_entry.content|markdown }}
    <hr />
    <div id="fos_comment_thread"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': article_entry.commentThreadId} %}
{% endblock %}
