{% extends 'FreeNoteBundle:Backend:layout.html.twig' %}

{% import 'FreeNoteBundle:Backend/Category:formMacros.html.twig' as macros %}

{% block header %}
    <h1>{{ ('category.new_header.'~catalog.alias)|trans({}, 'FreeNoteCoreBundle') }}</h1>
{% endblock %}

{% block content %}
<form action="{{ path('free_note_backend_category_create', {'alias': catalog.alias}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    {{ macros.form(form) }}
    {{ macros.buttonsCreate(catalog) }}
</form>
{% endblock %}
