{% extends 'FreeNoteBundle:Backend:layout.html.twig' %}

{% import 'FreeNoteBundle:Backend/Category:formMacros.html.twig' as macros %}

{% block header %}
    <h1>{{ category.name }} <small>{{ ('category.update_header.'~catalog.alias)|trans({}, 'FreeNoteCoreBundle') }}</small></h1>
{% endblock %}

{% block content %}
<form action="{{ path('free_note_backend_category_update', {'alias': catalog.alias, 'id': category.id}) }}" {{ form_enctype(form) }} method="post" class="form-horizontal" novalidate>
    {{ macros.form(form) }}
    {{ macros.buttonsUpdate(catalog) }}
</form>
{% endblock %}
