{% extends 'FreeNoteBundle:Backend:layout.html.twig' %}

{% import 'FreeNoteBundle:Backend/ArticleEntry:macros.html.twig' as macros %}

{% block header %}
    <h1>{{ category.name }}<small> {{ 'entry.article.list_header'|trans({}, 'FreeNoteCoreBundle') }}</small></h1>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('free_note_backend_article_entry_create') }}" class="btn btn-primary large">
    <i class="icon-plus icon-white"></i> {{ 'category.create'|trans({}, 'FreeNoteCoreBundle') }}
</a>
</div>

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(entries, 'article_entry', {'alias': catalog.alias, 'id':category.id}) }}

{% if paginator.haveToPaginate() %}
{{ pagerfanta(paginator, 'twitter_bootstrap_translated') }}
{% endif %}

{% endblock %}
