{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>Szczegóły wariantu</h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('sylius_assortment_backend_variant_create', {'productId': variant.product.id}) }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> dodaj inny wariant
    </a>
    <a href="{{ path('sylius_assortment_product_show', {'id': variant.product.id, 'slug': variant.product.slug}) }}" class="btn">
        <i class="icon-book"></i> pokaż produkt w sklepie
    </a>
    <a href="{{ path('sylius_assortment_backend_product_show', {'id': variant.product.id}) }}" class="btn">
        <i class="icon-info-sign"></i> pokaż produkt
    </a>
    <a href="{{ path('sylius_assortment_backend_variant_update', {'id': variant.id}) }}" class="btn">
        <i class="icon-pencil"></i> {{ 'update'|trans({}, 'SandboxCoreBundle') }}
    </a>
    <a href="{{ path('sylius_assortment_backend_variant_delete', {'id': variant.id}) }}" class="btn btn-danger confirmer"
        data-confirmer-question="{{ 'confirmer.q.variant.delete'|trans({}, 'SandboxCoreBundle') }}"
    >
        <i class="icon-remove icon-white"></i> {{ 'delete'|trans({}, 'SandboxCoreBundle') }}
    </a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#id</th>
            <th>SKU</th>
            <th>utworzony</th>
            <th>edytowany</th>
            <th>ilość na magazynie</th>
            <th>lista opcji</th>
            <th>cena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ variant.id }}</td>
            <td>{{ variant.sku }}</td>
            <td>{{ variant.createdAt|date }}</td>
            <td>{{ variant.updatedAt|date }}</td>
            <td>
                <span class="badge badge-{{ variant.inStock ? 'success' : 'important' }}">{{ variant.onHand }}</span> available units.
            </td>
            <td>
                <ul>
                {% for option in variant.options %}
                    <li><strong>{{ option.name }}</strong>: {{ option.value }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>{{ variant.price }} zł</td>
        </tr>
    </tbody>
</table>
{% endblock content %}
