{% extends 'FreeNoteBundle:Backend:layout.html.twig' %}

{% import 'FreeNoteBundle:Backend/ArticleEntry:macros.html.twig' as macros %}

{% block header %}
    <h1>{{ 'entry.article.list_header'|trans({}, 'FreeNoteCoreBundle') }}</h1>
{% endblock %}

{% block content %}
<div class="well">
    <a href="{{ path('free_note_backend_article_entry_create') }}" class="btn btn-primary">
        <i class="icon-plus icon-white"></i> {{ 'entry.article.create'|trans({}, 'FreeNoteCoreBundle') }}
    </a>
</div>

{% if article_entries.haveToPaginate() %}
{{ pagerfanta(article_entries, 'twitter_bootstrap_translated', {'routeParams': app.request.query.all(), 'routeName': 'free_note_backend_article_entry_list'}) }}
{% endif %}

{{ macros.list(article_entries, 'article_entry', {'page': article_entries.currentPage}) }}

{% if article_entries.haveToPaginate() %}
{{ pagerfanta(article_entries, 'twitter_bootstrap_translated', {'routeParams': app.request.query.all(), 'routeName': 'free_note_backend_article_entry_list'}) }}
{% endif %}

{% endblock %}
