{% extends 'FreeNoteBundle:Backend:layout.html.twig' %}

{% block header %}
    <h1>{{ 'entry.article.details'|trans({}, 'FreeNoteCoreBundle') }}</h1>
    <h2>{{ article_entry.title }}</h2>
{% endblock %}

{% block content %}
<div class="well">
<a href="{{ path('free_note_backend_article_entry_update', {'id': article_entry.id}) }}" class="btn">
    <i class="icon-pencil"></i> {{ 'update'|trans({}, 'FreeNoteCoreBundle') }}
</a>
<a href="{{ path('free_note_backend_article_entry_delete', {'id': article_entry.id}) }}" class="btn btn-danger confirmer"
    data-toggle="modal"
    data-target="confirmer-modal"
    data-confirmer-question="{{ ('confirmer.q.article_entry.delete')|trans({}, 'FreeNoteCoreBundle') }}"
>
    <i class="icon-remove icon-white"></i> {{ 'delete'|trans({}, 'FreeNoteCoreBundle') }}
</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ ('entry.id')|trans({}, 'FreeNoteCoreBundle') }}</th>
            <th>{{ ('entry.categories')|trans({}, 'FreeNoteCoreBundle') }}</th>
            <th>{{ ('entry.title')|trans({}, 'FreeNoteCoreBundle') }}</th>
            <th>{{ ('entry.author')|trans({}, 'FreeNoteCoreBundle') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ article_entry.id }}</td>
            <td>
                {% if article_entry.categories|length > 0 %}
                    <ul>
                        {% for category in article_entry.categories %}
                            <li>{{ category.name }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <span class="label label-info label-padded">
                        <i class="icon-list-alt icon-white"></i> {{ ('entry.categories_blank')|trans({}, 'FreeNoteCoreBundle') }}
                    </span>
                {% endif %}
            </td>
            <td>{{ article_entry.title }}</td>
            <td>{{ article_entry.author }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
        <thead>
        <tr>
            <th>{{ ('entry.created_at')|trans({}, 'FreeNoteCoreBundle') }}</th>
            <th>{{ ('entry.created_by')|trans({}, 'FreeNoteCoreBundle') }}</th>
            <th>{{ ('entry.updated_at')|trans({}, 'FreeNoteCoreBundle') }}</th>
            <th>{{ ('entry.updated_by')|trans({}, 'FreeNoteCoreBundle') }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ article_entry.createdAt|date('d.m.Y, H:i:s') }}</td>
            <td>{{ article_entry.createdBy }}</td>
            <td>{{ article_entry.updatedAt|date('d.m.Y, H:i:s') }}</td>
            <td>{{ article_entry.updatedBy }}</td>
        </tr>
        </tbody>
</table>

<div class="well">
    <h3>{{ 'entry.image'|trans({}, 'FreeNoteCoreBundle') }}</h3>
    <img src="{{ article_entry.imageWebPath is empty ? 'http://placehold.it/90x60' : article_entry.imageWebPath|apply_filter('backend_medium') }}"
             alt="{{ article_entry.imageAlt }}" title="{{ article_entry.imageTitle }}" />
</div>

<div class="well">
<h3>{{ 'entry.content'|trans({}, 'FreeNoteCoreBundle') }}</h3>
{{ article_entry.content|markdown }}
</div>

{% endblock %}
